body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:  black;
    text-align: center;
  }
  header{
    background-color: rgb(114, 102, 69);
    color: white;
    text-align: center;
    padding: 1rem;
  }
  footer {
    background-color: rgb(114, 102, 69);
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
  }
  nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  nav a:hover{
    color: rgb(73, 56, 9);
  }
  